<div class="indexcontents">
<div class="firstindexcontents">
  <div class="space"></div>
  <div class="contentsbox">
    <h1>Find the idea</h1>
    <p>アイデアを見つけて融資しよう</p>
    <div class="search">
      <input id="sbox2"  id="s" name="s" type="text" placeholder="フリーワードを入力"/>
      <button type="submit" id="sbtn2"><i class="fas fa-search"></i>
    </div>
    <div class="genreselect">
      <select name="ジャンルで絞る">
        <option value="">ジャンルを選択</option>
        <option value="">SELECT1</option>
        <option value="">SELECT2</option>
        <option value="">SELECT3</option>
      </select>
    </div>
  </div>
</div>

</div>
